<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!--CSS File-->
    <link rel="stylesheet" href="../public/styles/bloodmap.css" type="text/css">
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--Font family-->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <!--Icons-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Bloodmap</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.html">
                <img src="../public/img/bloodmap.png" class="logo-top" width="200">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="active">
                        <a href="#login">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Hero image-->
    <div class="jumbotron-profile text-center">
        <div class="container">
        </div>
    </div>

    <!--Main section-->
    <section class="profile-info">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-9 col-12">
                    <h3 class="section-heading text-left"> Fulano </h3>
                    <p class="profile-address"><i class="fa fa-map-marker"></i> Av de una calle de por ahí, cd de méxico <button class="btn-outline-dark btnedit"><i class="fa fa-pencil"></i></button></p>
                    <h4 class="section-heading text-left"> Info </h4>
                    <ul class="nav nav-tabs" id="profileInfo" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link profiletab active" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="true"><i class="fa "></i> Messages</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link profiletab" id="donor-tab" data-toggle="tab" href="#donor" role="tab" aria-controls="donor-info" aria-selected="false"><i class="fa "></i> Donor</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link profiletab" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="requests-info" aria-selected="false"><i class="fa "></i> Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link profiletab" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false"><i class="fa "></i> Settings</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card bg-light my-1">
                                        <div class="card-body">
                                            <h5 class="card-title">Bloodmap <small class="card-subtitle mb-2 text-muted">06/12/2018 8:51pm</small></h5>
                                            <p class="card-text">Welcome to bloodmap! Use our navigation options to browse your donor profile, make a blood request, or adjust your privacy and notification settings. Thank you for your time! - The bloodmap team.</p>
                                            <a href="#" class="btn btn-danger btnmessage" id=""><i class="fa fa-info-circle"></i> Register as donor</a>
                                            <a href="#" class="btn btn-danger btnmessage" id=""><i class="fa fa-info-circle"></i> Make a request</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="donor" role="tabpanel" aria-labelledby="donor-tab">
                            <div class="row justify-content-around">
                                <div class="col-6 col-md-4 bg-dark my-2">
                                    <p>Blood Type</p>
                                </div>
                                <div class="col-6 col-md-4 bg-light">
                                    <p>O+ <button class="btn-outline-dark btnedit"><i class="fa fa-pencil"></i></button></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="request" role="tabpanel" aria-labelledby="request-tab">request</div>
                        <div class="tab-pane fade show" id="settings" role="tabpanel" aria-labelledby="privacy-tab">settings</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <a class="col-md-5" href="index.html">
                    <img src="../public/img/bloodmap.png" class="logo-top" width="250">
                </a><br>
                <div class="col-md-4">
                    <h5 class="section-heading">POLÍTICA DE PRIVACIDAD</h5>
                    <h6 class="text-left" id="footer-text">Los datos ingresados en la página son recopilados por
                        Bloodmap para fines estadísticos y para prestar el servicio.
                        La publicación de los mismos corre a cargo del usuario y Bloodmap no se hace responsable de
                        este uso.</h6>
                </div><br>
                <div class="col-md-3">
                    <h5 class="section-heading">CONTACT</h5>
                    <h6><a href="#">hello@bloodmap.info</a></h6>
                </div>
            </div>
        </div>
        <h6 class="footer-copyright text-center py-3">© 2018 Bloodmap</h6>
    </footer>

    <!--Bootstrap js plugin-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        /*
        $(".nav-link.profiletab").on("click",function(){
            let clicked = $(this);
            $(".nav-link.profiletab").removeClass("active");
            clicked.addClass("active");
        })
        */
    </script>

</body>
</html>