/* Generals*/
body {
  width: 100%;
  font-family: "Titillium Web", sans-serif !important;
}

h6 {
  font-size: 14px;
}

h5 {
  font-size: 16px;
}

h4 {
  font-size: 18;
  font-weight: 700;
}

h3 {
  font-size: 22;
  font-weight: 700;
}

h2 {
  font-size: 22;
}

/*Navbar - bloodmap*/
#mainNav {
  background: black;
  color: #fff;
}

#mainNav a {
  color: #fff;
  font-weight: 600;
}

#mainNav a:hover {
  color: #e00314;
}

li {
  padding: 10px !important;
  text-transform: uppercase;
}

.navbar-toggler {
  border-color: #e00314 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#e00314' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/*Content - bloodmap*/
.jumbotron {
  padding-top: 25rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/bloodmap-background-3.jpg");
  background-position: center bottom;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron-register {
  padding-top: 25rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/bloodmap-background-1.jpg");
  background-position: center top;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron-login {
  padding-top: 25rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/bloodmap-background-1.jpg");
  background-position: center top;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron-profile {
    padding-top: 25rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/bloodmap-background-2.jpg");
    background-position: center top;
    background-size: cover;
    margin-bottom: 0;
}

/*section - services*/
.services {
  padding: 2em;
}

/*Profile page*/
.list-group-item{
    background-color:darkgray;
}

.listinfo{
    color: rgb(54, 54, 54);
}

.btnedit{
    border:none;
    border-radius: 50%;
}

.nav-link.profiletab{
    color:black !important;
}

.nav-link.profiletab:hover{
    color:red !important;
}

.nav-link.profiletab.active{
    color:red !important;
    background-color: black;
}

.btnmessage:hover{
    color:black !important;
}

#main-btn {
  font-weight: 400;
  padding: 0.45em 1.5em;
  background-color: #e00314;
  color: white;
  align-content: center;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  margin: 10px;
}

#main-btn:hover {
  background-color: #ad0311;
  color: white !important;
}

/*section - counter*/
.counter {
  background-color: #ebeaeb;
  width: 100%;
  padding: 1em;
}

.registration-form {
  padding-top: 2em;
  padding-bottom: 2em;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#googleMap {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

/*Footer - bloodmap*/
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 2em;
  bottom: 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #e00314;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo-bottom {
  padding-bottom: 10px;
}
#privacy-policy {
  background: none !important;
  border-color: #e00314 !important;
}

/*404*/
#page-404 {
  padding-top: 25rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/404.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

/*Typeahead*/
.typeahead.dropdown-menu a {
  color: #040919;
}

/*Errors*/
.swal2-content ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*Blood requests*/
.bloodrequests {
  margin-top: 30px;
}

.bloodrequests .bloodrequest {
  background: #ccc;
  padding: 20px;
  height: 100%;
  text-align: left;
}

.bloodrequests .bloodrequest h4 {
  font-size: 1.2em;
}

.bloodrequests .bloodrequest a {
  color: #e00314;
}

.bloodrequests .bloodrequest-wrapper {
  padding-bottom: 30px;
}
